<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @order_detail.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_detail.price %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_detail.product %>
</p>

<%= link_to 'Edit', order_details_edit_url(@order_detail.order_number, @order_detail.product_id) %> |
<%= link_to 'Back', order_details_path %>
