<%= form_with(model: order, local: true, url: client_orders_create_path(@client)) do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
  
        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :number %>
      <%= form.text_field :number, id: :order_number %>
    </div>

    <div id="products-form">
    </div>

    <div class="field">
      <button id="add-product" type="button">Add product</button>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>

<div id="product-add-default" class="field" style="display: none;">
  <label>Product</label>
  <%= select_tag("products[][id]", options_from_collection_for_select(@products, "id", "description")) %>
  <label>Amount</label>
  <input name="products[][amount]" type="number">
</div>

<script>
  (function() {
    // Load the script
    var script = document.createElement("SCRIPT");
    script.src = 'https://code.jquery.com/jquery-3.3.1.min.js';
    script.type = 'text/javascript';
    script.onload = function() {
        var $ = window.jQuery;
        var addProduct = function() {
          var addDefault = $("#product-add-default").clone();
          addDefault.removeAttr('id');
          $('#products-form').append(addDefault.html());
        };
        $('body').on('click', '#add-product', addProduct);
        addProduct();
    };
    document.getElementsByTagName("head")[0].appendChild(script);
  })();
</script>
