<table>
    <thead>
        <tr>
        <th>Number</th>
        <th>Total</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td><%= order.number %></td>
            <td><%= @orders_totals[order.number] %></td>
            <td><%= link_to 'show', client_orders_show_path(@client, order) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

Total: <%= @orders_totals.values.sum() %> <br>

<%= link_to 'New', client_orders_new_path(@client) %> |
<%= link_to 'Back', @client %>