<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @client.is_admin %>
</p>

<p>
  <strong>Address Street:</strong>
  <%= @client.address.street %>
</p>

<p>
  <strong>Address City:</strong>
  <%= @client.address.city %>
</p>

<p>
  <strong>Address State:</strong>
  <%= @client.address.state %>
</p>

<%= link_to 'Orders', client_orders_path %> |
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
