<%= link_to 'Clients', clients_path %><br>
Orders<br>
<%= link_to 'Products', products_path %>


<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<%= link_to 'Fechar Faturamento', orders_close_billing_path %><br><br>

<%= link_to 'Emitir Faturamento', orders_issue_path %><br><br>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Client</th>
      <th>Faturamento Fechado</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.number %></td>
        <td><%= order.client %></td>
        <td><%= @date_last_close_billing.present? and order.date < @date_last_close_billing %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <% if false %>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
