<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, locale: :"pt-BR", unit: "R$") %>
</p>
